@using la_mia_pizzeria_static.Data
@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center">
                <h1>Lista Pizze</h1>
                <input class="js_search" placeholder="Cerca per titolo" />
            </div>
        </div>
    </div>
    <div class="row js_no_pizza d-none">
        <div class="col">
            <h3>Non ci sono pizze</h3>
        </div>
    </div>
    <div class="row js_pizza_table d-none">
        <!-- Qui inseriamo le pizze -->
    </div>
    <div class="row">
        <div class="col">
            <a href="@Url.Action("Create", "Home")" class="btn btn-primary">Crea Pizza</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function loadList(nameFilter) {
        axios.get(`/api/PizzaWebApi/GetPizzaByName/${nameFilter}`, {
        }).then((res) => {
            console.log(res);
            if (res.data.length == 0) {
                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');
            } else {
                document.querySelector('.js_no_pizza').classList.add('d-none');
                var pizzaTable = document.querySelector('.js_pizza_table');
                pizzaTable.classList.remove('d-none');

                pizzaTable.innerHTML = '';
                res.data.forEach((pizza) => {
                    pizzaTable.innerHTML += `
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <p class="card-text">Prezzo: ${pizza.price}€</p>
                                    <button class="btn btn-danger" onclick="deleteById(${pizza.id})">Elimina</button>
                                </div>
                            </div>
                        </div>`;
                });
            }
        });
    }

    function deleteById(id) {
        axios.delete("/api/PizzaWebApi/DeletePizza/" + id)
            .then((res) => {
                loadList('');
            });
    }

    loadList('');

    function search() {
        loadList(this.value);
        console.log(this.value);
    }

    document.querySelector('.js_search').addEventListener('keyup', search);
</script>
